<html>
    <head>
        <title>Home | FCLS</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            h1{
                font-size: -webkit-xxx-large;
            }
        </style>

    </head>
    <body>
        
        <div class="container">
            
            <div class="col-sm-8 col-sm-offset-2">
                
                <div class="row">

                    <div class="col-sm-12">

                        <h1 class="text-center page-header">
                            Home Page
                        </h1>

                    </div>

                </div>

                <div class="row">
                    <div class="panel-header">
                        
                        Choose among these-
                        
                    </div>
                    <hr>
                    <div class="list-group">
                        <a href="./class/schedule" class="list-group-item">View Schedule</a>
                        <a href="./class/book" class="list-group-item">Book a class</a>
<!--                         <a href="#" class="list-group-item"></a> -->
                    </div>
                    
                </div>

            </div>
        
            
        </div>
        
    </body>
</html>