<div class="row">
    
    {{ data? null : "No data" }}
    
    <div class="row table-responsive" ng-show="data">
        
        <table class="table table-hover table-bordered">
            <tbody>
                <tr class="text-center">
                    <th>Building</th>
                    <td ng-bind="data.building"></td>
                </tr>
                <tr class="text-center">
                    <th>Room</th>
                    <td ng-bind="data.room"></td>
                </tr>
                <tr class="text-center">
                    <th>Capacity</th>
                    <td ng-bind="data.capacity"></td>
                </tr>
            </tbody>
        </table>
        
    </div>

    <form ng-submit="book();">
        
        <div class="form-group form-inline">
            
            <label class="control-label">Date</label>
            <input class="form-control" type="date" name="date" ng-model="date" id="date">
        </div>
        
        <div class="form-group form-inline">
            <label class="control-label">Slot</label>
            <select class="form-control" name="slot" ng-model="slot" ng-options="val for val in slots">
            </select>
        </div>
        
        <div class="form-group form-inline">
            <label class="control-label">Purpose</label>
            <input class="form-control" name="purpose" ng-model="purpose"/>
        </div>
        
        <input type="submit" class="btn btn-primary" value="Book"/>
        
    </form>
    
    
    
    
    
</div>