<html>

    <head>
        <title>Login Page | FCLS</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            h1{
                font-size: -webkit-xxx-large;
            }
        </style>
    </head>

    <body>

        <div class="container">
            
            <div class="row">
                
                <div class="page-header text-center">
                    <h1>FCLS Login Page</h1>
                </div>
                
            </div>
            
            <div class="row">

                <div class="col-sm-8 col-sm-offset-2 text-center">

                    <h3 class="bg-primary">This is a beta prototype of Free Class List System (FCLS).</h3>

                </div>

            </div>
            
            <div class="row">
                
                <div class="col-sm-8 col-sm-offset-2">
                    
                    <form method="POST">
                        <div class="form-group form-inline">
                            <label for="email">Username:</label>
                            <input type="text" class="form-control" id="username" name="username">
                        </div>
                        <div class="form-group form-inline">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"> Remember me</label>
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                    
                </div>
                
            </div>
            
        </div>
        
    </body>

</html>